.header {
  width: 100%;
  height: auto;
  text-align: center;
}

.stats {
  text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
  width: 100%;
  height: auto;
  text-align: center;
}

.myFooter {
  word-spacing: 15px;
}
